@import url("https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap");

* {
  clear: both;
  margin: 0;
  padding: 0;
  font-family: "Nunito", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  /* This will ignore scrollbar as a padding. */
  overflow-y: overlay;
  overflow-x: hidden;
}

h2 {
  font-size: 2vw;
  font-weight: 800;
  color: #252584;
}

/* Nav styles */

.nav-bg {
  padding-top: 5vh;
  background-color: #252584;
}

nav {
  display: flex;
  flex-direction: row;
  justify-content: center;
  font-size: 0.9vw;
}

/* Link style */
nav ul {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

nav a {
  margin-left: 2vw;
  margin-right: 2vw;
  color: white;
  text-decoration: none;
  font-weight: 600;
}

.home {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

/* Logo style in nav */
.logo {
  width: 5vw;
  align-items: center;
  margin-right: 15vw;
}

/* Search in nav */
.search {
  width: 1%;
  align-items: center;
  margin-left: 15vw;
}

/* banner style */

.banner {
  width: 100%;
  height: 100%;
  display: flex;
  padding-bottom: 10%;
  background-color: #252584;
  background-position: top 0 left -8%, top 5% right -35%;
  background-size: 37%;
  background-repeat: no-repeat;
  background-image: url(./assets/2-banner/banner-rounded-001.svg),
    url(./assets/2-banner/banner-rounded-002.svg);
}

.banner-text-container {
  margin-top: 10%;
  margin-left: 15%;
  width: 45vw;
  color: white;
}

.banner-text-container h1 {
  font-size: 4.2vw;
  font-weight: 800;
}
.banner-text-container p {
  font-weight: 500;
  font-size: 1.2vw;
  width: 38vw;
}

.banner img {
  right: 10vw;
  margin-top: 5%;
  position: absolute;
  width: 35%;
}

/* Product (UI screen) */

.product {
  width: 70vw;
  margin-top: 5%;
  display: flex;
  flex-direction: row-reverse;
  align-items: flex-start;
  justify-content: space-evenly;
}

.product2 {
  width: 70vw;
  margin-top: 5%;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-evenly;
}

.product-text-container {
  min-width: 40%;
  width: 25%;
  padding-top: 8%;
}

.product-text-container h2 {
}

.product-text-container p {
  font-size: 0.9vw;
  margin-top: 1vh;
  font-weight: 600;
  line-height: 200%;
  color: #bebed2;
}

.product-container img {
  width: 100%;
}

/* Testimonial Carousel */

.testimonial {
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.testimonial-top {
  width: 70vw;
  display: flex;
  justify-content: space-between;
}

.top-left {
  display: flex;
  align-items: center;
  font-weight: 800;
}

.top-left img {
}

.arrow-right {
  background: rgb(223, 223, 223);
  border-radius: 100%;
  padding: 1.5%;
  width: 3vw;
}

.testimonial-bot {
  width: 100vw;
  padding: 3% 10% 3% 10%;
}

.tbox {
  font-size: 1rem;
  background: white;
  margin: 3% 6% 3% 6%;
  padding: 4%;
  border-radius: 5px;
  box-shadow: 2px 2px 10px rgb(230, 230, 230);
}

.tbox-top {
  display: flex;
  align-items: center;
}

.tbox-text h3 {
  color: rgb(58, 58, 58);
  font-size: 1vw;
}

.tbox-text h4 {
  color: rgb(150, 150, 150);
  font-weight: 500;
}

.tbox p {
  padding-top: 5%;
  padding-bottom: 5%;
  font-weight: 600;
  font-size: 1rem;
}

.tbox img {
  width: 3vw;
  border-radius: 100%;
  margin-right: 5%;
}

button.react-multiple-carousel__arrow {
  width: 1vw;
}

/* Employees */

.employees-container {
  width: 70vw;
  margin-top: 5%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.employees-top {
  width: 70vw;
  font-size: 1vw;
  display: flex;
  justify-content: space-between;
  padding-bottom: 5vh;
}

.top-right {
  width: 70vw;
  display: flex;
  justify-content: flex-end;
}

.employees-top button {
  margin-left: 2vw;
  width: 5vw;
  height: 3.5vh;
  border-radius: 5px;
  border-style: hidden;
  font-weight: 700;
  background: #eedeff;
  color: #8251bc;
  font-size: 80%;
}

.employees-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 70vw;
}

.employee-box {
  margin: 2%;
  display: flex;
  flex-direction: column;
  text-align: center;
  background: white;
  border-radius: 10px;
  box-shadow: 2px 2px 10px rgb(230, 230, 230);
}

.employee-box h3 {
  font-size: 100%;
  color: rgb(61, 61, 61);
  padding-bottom: 5px;
}
.employee-box h4 {
  color: rgb(173, 173, 173);
  font-size: 100%;
  padding-bottom: 10%;
  font-weight: 500;
}

.employee-box img {
  width: 200px;
  padding-bottom: 10%;
}

/* Partners */
.partners-container {
  padding-top: 5%;
  padding-bottom: 5%;
  width: 70vw;
}

.partner-top {
  width: 70vw;
  font-size: 1vw;
  display: flex;
  justify-content: center;
}

.partner-box {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}

.partner-box img {
  width: 150px;
  padding: 2%;
}

/* Contact */
.contact-container {
  width: 70vw;
}

.contact-top {
  width: 70vw;
  font-size: 1vw;
  display: flex;
  justify-content: center;
  padding-bottom: 5%;
}

.contact-content {
  width: 70vw;
  height: 90vh;
  display: flex;
}

/* .maps {
  margin-top: 5%;
  margin-left: 51.5%;
  height: 60vh;
  width: 35vw;
} */

.contact-form {
  position: absolute;
  z-index: 1;
  width: 35%;
  background: rgb(255, 255, 255);
  -webkit-box-shadow: 9px 3px 57px 1px rgb(233, 233, 233);
  -moz-box-shadow: 9px 3px 57px 1px rgb(233, 233, 233);
  box-shadow: 9px 3px 57px 1px rgb(233, 233, 233);
  border-radius: 15px;
  padding: 1%;
  margin: 1%;
  height: 70vh;
  overflow-y: hidden;
}

.contact-content form {
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  justify-items: center;
  height: 70vh;
  padding: 40px;
}

.form-name {
  display: flex;
  flex-direction: column;
}

.form-name label {
  color: #252584;
  font-weight: 600;
}

.form-name input {
  height: 4.5vh;
  font-size: 0.8vw;
  font-weight: 500;
  padding: 2%;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(214, 214, 214);
  border-width: 1px;
}

.form-name select {
  height: 5.5vh;
  font-size: 0.8vw;
  font-weight: 500;
  padding: 2%;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(214, 214, 214);
  border-width: 1px;
}

.form-name textarea {
  height: 20vh;
  font-size: 0.8vw;
  font-weight: 500;
  padding: 2%;
  border-radius: 5px;
  border-style: solid;
  border-color: rgb(214, 214, 214);
  border-width: 1px;
  resize: none;
}

.contact-form button {
  background: #252584;
  margin-left: 60%;
  height: 4.5vh;
  color: white;
  border-radius: 5px;
  font-weight: 800;
  border-style: hidden;
}

button:active {
  border-style: hidden;
}

/* Footer */
.footer-container {
  padding-top: 10vh;
  width: 100%;

  padding-bottom: 3%;
  background-color: #252584;
  background-position: top 0 left -8%, top 5% right -35%;
  background-size: 37%;
  background-repeat: no-repeat;
  background-image: url(./assets/2-banner/banner-rounded-001.svg),
    url(./assets/2-banner/banner-rounded-002.svg);
}

.footer {
  display: flex;
  justify-items: center;
  justify-content: space-between;
  padding-right: 25vw;
  padding-left: 10vw;
  bottom: 0;
}

.logo-footer {
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  color: white;
}

.logo-footer h1 {
  padding-left: 20px;
  font-size: 1.2vw;
}

.address {
  display: flex;
  flex-direction: column;
  width: 20vw;
  color: white;
}

.contacts {
  display: flex;
  flex-direction: column;
  width: 20vw;
  color: white;
}

.contacts p {
  padding-bottom: 10px;
}
