.toggle-button {
  display: none;
}

@media only screen and (max-width: 450px) {
  .toggle-button {
    margin-top: 1vh;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    height: 25px;
    width: 30px;
    background: transparent;
    border: none;
    cursor: pointer;
    box-sizing: border-box;
  }

  .toggle-button-line {
    outline: none;
    width: 30px;
    height: 2px;
    background: white;
  }
}
